@import "partials/config";
@import "compass";
@import "partials/mixins";
@import "partials/fonts";
@import "partials/icons";
@import "partials/normalization";
@import "partials/prototypes";
@import "partials/grids";
@import "partials/layout";
@import "partials/manifests/shared";
@import "partials/manifests/layouts";
@import "partials/manifests/modules";

// =====================
// = todos los estilos =
// =====================

@import "partials/responsive";

.m_filter {
  //border:1px solid red;
  margin: 40px 0;
  padding-left: 20px;
  overflow:hidden;
}

.m_filter_form {
  width:400px;
  float:left;
  //background-color:pink;
}

.m_filter_row {
  margin-bottom: 30px;
  strong {
    display:block;
    font-size:18px;
    margin-bottom: 10px;
  }
  p{
    margin-bottom: 10px;
    font-size:14px;
    margin-left: 12px;
  }
}

.m_filter_content {
  float:left;
  width:68%;
  //background-color:blue;
  height:400px;
}
