/*  =========== */
/*  = SPACING = */
/*  =========== */

%phs { padding-left:10px; padding-right:10px; }
%phm { padding-left:20px; padding-right:20px; }
%pvs { padding-top:10px; padding-bottom:10px; }
%pvm { padding-top:20px; padding-bottom:20px; }
%pas { padding:10px; }
%pam { padding:20px; }
%pls { padding-left:10px; }
%plm { padding-left:20px; }
%plb { padding-left:30px; }
%prs { padding-right:10px; }
%prm { padding-right:20px; }
%prb { padding-right:30px; }
%pts { padding-top:10px; }
%ptm { padding-top:20px; }
%ptb { padding-top:30px; }
%pbs { padding-bottom:10px; }
%pbm { padding-bottom:20px; }
%pbb { padding-bottom:30px; }

%mbs {margin-bottom:10px;}
%mtm {margin-top:20px;}
%mtb {margin-top:30px;}
%mbm {margin-bottom:20px;}
%mbb {margin-bottom:30px;}