.wrapper {
  margin:0 auto;
  max-width:972px;
  width:95%;
}

/* ======== */
/* = GRID = */
/* ======== */

$container_width: 972;
$gutter_width: 0;
$number_of_columns: 12;

$container: $container_width * 1px;
$gutter: ($gutter_width / $container_width) * 100%;
$gutter_px: $gutter_width * 1px;

$column: ($container_width - ($number_of_columns - 1) * $gutter_width) / $number_of_columns;

@mixin col($cols: $number_of_columns){
  width: ($cols * $column + ($cols - 1) * $gutter_width) / $container_width * 100%;
  *width: (($cols * $column + ($cols - 1) * $gutter_width) / $container_width * 100%) - 0.001%; //evita que se caigan columnas con anidaciones en IE7
}

/* ============== */
/* = GRID UNITS = */
/* ============== */
.row {
  display:block;
  clear:both;
  @extend %clearfix;
}

.col{
  float:left;
  margin-left: $gutter;
}

.col_r{
  float:right;
}

// Shared styles

@import "./shared/*!";

// Layout styles

@import "./layouts/*!";
