/* ================ */
/* = MEDIAQUERIES = */
/* ================ */

/*	Default Layout: 992px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------*/

img {
  max-width: 100%;
  display:block;
}

img.inline {
  display:inline;
}

.map img {
  max-width: none;
  display:inline;
}

.wrapper {
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

.hide_for_desktop {
  display:none;
}


/*	Tablet Layout: 768px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  @import "partials/extend";

  .wrapper {
   width: 98%;
	}

	.hide_for_desktop {
    display:block;
  }

	.hide_for_tablet {
	  display:none;
	}

}



/*	Mobile Layout: 320px.
		Inherits styles from: Default Layout.
---------------------------------------------*/

@media only screen and (max-width: 767px) {
  @import "partials/extend";

  .wrapper {
		width:98%;
	}

	.hide_for_desktop {
    display:block;
  }

	.hide_for_mobile {
	  display:none;
	}

  .stack_on_mobile > .col,
  .stack_on_mobile > .col_r,
  .deep_stack_on_mobile .col,
  .deep_stack_on_mobile .col_r{
    float:none;
    width:auto;
  }

  .ttl_on_mobile {
  	text-align:left;
  }

  .m_latest_in .col {
    width:auto;
    float:none;
  }

  //.col_sls > *, .col_r_sls > * {  margin-left: 5px; }
  //  .col_srs > *, .col_r_srs > * {  margin-right: 5px; }
  //  .col_slm > *, .col_r_slm > * {  margin-left: 10px; }
  //  .col_srm > *, .col_r_srm > * {  margin-right: 10px; }
  //  .col_shs > *, .col_r_shs > * {  margin-left: 5px; margin-right: 5px; }
  //  .col_shm > *, .col_r_shm > * {  margin-left: 10px; margin-right: 10px; }

}



/*	 Wide Mobile Layout: 480px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
  @import "partials/extend";


}


/*	Retina media query.
	Overrides styles for devices with a
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  @import "partials/extend";

}