/* ================ */
/* = MEDIAQUERIES = */
/* ================ */

/*	Default Layout: 992px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------*/

img {
  max-width: 100%;
  display:block;
}

img.inline {
  display:inline;
}

.map img {
  max-width: none;
  display:inline;
}

.wrapper {
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

.hide_for_desktop {
  display:none;
}

/*  Modern browsers
    Inherits styles from: Default Layout.
-----------------------------------------------------------------*/

@media only all{ 
  // Estilos para navegadores que soporten media queries
  @import "partials/responsive/all";
}

/*  Desktop Layout: 992.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------*/

@media only screen and (min-width: 992px) {
  @import "partials/responsive/desktop";
}

/*	Tablet Layout: 768px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  @import "partials/responsive/tablet";
}

/*	Mobile Layout: 320px.
		Inherits styles from: Default Layout.
---------------------------------------------*/

@media only screen and (max-width: 767px) {
  @import "partials/responsive/mobile";
}

/*	 Wide Mobile Layout: 480px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
  @import "partials/responsive/wide_mobile";
}

/*	Retina media query.
	Overrides styles for devices with a
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  @import "partials/responsive/retina";
}