//  ==========
//  = Tablet =
//  ==========

.wrapper {
 width: 98%;
}

.hide_for_desktop {
  display:block;
}

.hide_for_tablet, .show_on_mobile, .show_on_desktop {
  display:none!important;
}

.show_on_tablet {
	display:block!important;
}

/* =============== */
/* = INNER GRIDS = */
/* =============== */

.g2to3, .g4to3{
  > *{
    @include col(4);
  }
}

.g4to2 > *{
  @include col(6);
} 