$device: "t";
@import "partials/icons";

//  ==========
//  = Tablet =
//  ==========

.wrapper {
 width: 98%;
}

.hide_for_desktop {
  display:block;
}

.hide_for_tablet, .show_on_mobile, .show_on_desktop {
  display:none!important;
}

.show_on_tablet {
	display:block!important;
}

// Shared

@import "../shared/*";

// Modules

@import "../modules/*";