---
title: Index
description: Page index
---

<style type="text/css">

  .index .master-layout{
    font-size:14px;
  }

  .index_row{
    margin-left: 28px;
    margin-top: 20px;
  }
  
  .index_row li + li{
    margin-top:5px;
    border-top: 1px solid #e6e6e6;
  }
  
  .index_row li{
    list-style: none;    
    background-color:transparent;
    -webkit-transition: text-shadow .5s ease, background-color .5s ease;
    -moz-transition: text-shadow .5s ease, background-color .5s ease;
    transition: text-shadow .5s ease, background-color .5s ease;
  }
    
  .index_row li p{
    font-size:0.8em;
    padding:0;
    margin:0;
    color:#666;
  }
  
  .index_row li small{
    display:block;
    font-size:0.7em; 
    color:#666;
  }
  
  .index_row li a{
    display:block;
    font-weight: bold;
    text-decoration: none;
    color:#000;
    padding: 15px;
  }
  .index_row li:hover{
    background-color:white;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.3);
  }
  
  .index_row h1{
    display: block;
    padding: 12px 15px;
    font-size: 1.4em;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    color: #666666;
    text-decoration: none;
    border-top:2px solid #0255a5;
  }
  
  .dev h2{
    color:#666;
  }
  
  .index_col{
    float:left;
    width:50%;
  }
  .index_row{
    max-width:960px;
    margin:0 auto;
  }
  
  .index_page_group{
    border:2px solid #d9d9d9;
    margin: 10px;
    font-size:15px;
    background-color:#f6f6f6;
    border-top:none;
  }  
  .index_page_group ul{
    list-style:none;
    padding:0;
    margin:0;
    
    background-color: #F6F6F6;
  }
</style>
<% 
  index_sitemap = if request[:params][:refresh] || !get_index_files
    html_files = index_files
    dev_groups = Settings.dev_page_groups.inject({}) do |sum, group| 
      if html_files[group.to_s]
        sum[group] = html_files.delete group 
      end
      sum
    end
    html_files = html_files.sort{|key, content| key.to_s == "pages" ? 1 : 0}
    set_index_files({
          pages: html_files,
          dev: dev_groups
        })
  else
    get_index_files
  end
%>
<div class="index_row">
  <div class="index_col s1of2">
    <% index_sitemap[:pages].each do |title, pages| %>
      <article class="index_page_group">
        <h1><%=title.capitalize%></h1>
        <%= page_list pages %>
      </article>
    <% end %>
  </div>
  <% if development? && index_sitemap[:dev] %>
    <div class="index_col">
      <% index_sitemap[:dev].each do |title, pages| %>
      <article class="index_page_group">
        <h1><%=title.capitalize%></h1>
        <%= page_list pages %>
      </article>
      <% end %>
    </div>
  <% end %>
</div>